body {
    text-align: center;

}

h1 {
    color: rgb(191, 57, 57);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.board-container {
    margin: auto;
    left: 50px;
    font-size: 30;
    text-align: center;
}

.board {
    margin: auto;
    left: 50px;
    text-align: center;
}


.board td {
    background-color: rgba(164, 85, 203, 0.87);
    width: 100px;
    height: 100px;
}

.board td:hover {
    background-color: rgba(214, 172, 238, 0.779);
}